/* Section 1 */
/* ------------------------------------ Page Jumbotron ------------------------------------------------- */
.page-jumbotron {
  position: relative;
  background-image: linear-gradient(
    to right,
    hsl(359, 79%, 55%),
    rgb(111, 26, 28)
  );
  min-height: 75vh;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 50px;
}
.page-jumbotron .container {
  position: relative;
  z-index: 20;
}
.page-jumbotron svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.page-jumbotron .jumbotron-text h1 {
  font-size: 45px;
  color: #fff;
  margin: 0 0 20px;
  font-family: "FredokaOneFont";
  text-transform: uppercase;
}
.page-jumbotron .jumbotron-text h3 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 20px;
}
.page-jumbotron .jumbotron-text h3 {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}
.page-jumbotron .jumbotron-text p,
.page-jumbotron .jumbotron-text span {
  font-size: 15px;
  line-height: 28px;
  color: #fff;
  font-weight: 300;
  font-family: "RobotoFont", sans-serif;
}
.page-jumbotron .jumbotron-btn {
  margin-top: 40px;
}
.page-jumbotron .jumbotron-btn .download-btn {
  padding: 0;
  animation: pulse_01 2s ease infinite;
  font-size: 15px;
  padding: 10px 20px;
}
.page-jumbotron .jumbotron-btn .download-btn:hover {
  animation: none;
  box-shadow: var(--shadow-black-300);
}
.page-jumbotron .jumbotron-img i {
  font-size: 200px;
  color: rgba(255, 255, 255, 0.5);
}
.page-jumbotron .jumbotron-img {
  position: relative;
}
.page-jumbotron .jumbotron-img .circle {
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  border: 1px solid #ffffff33;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.page-jumbotron .jumbotron-img .circle:before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  left: 20px;
  top: 20px;
  transform-origin: 130px 130px;
  animation: spin_01 7s linear infinite;
}

/* Privacy Section */
.privacy ul {
  list-style: disc;
}
.privacy .service-features {
  font-size: 15px;
  color: #555;
}
.privacy .service-features .service-feature-item{
  padding-bottom: 60px;
}
.privacy .service-features .service-feature-item h3 {
  font-family: "PoppinsFont", sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin: 20px 0;
  color: #000;
}
.privacy .service-features .service-feature-item h5 {
  font-family: "PoppinsFont", sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin: 20px 0;
  color: #000;
}